body,
html {
    display: flex;
    justify-content: center;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "MONO" 1;
    line-height: 1.5;
    background-color: black;
    color: #b4b5c7;
    z-index: -2;
    flex-direction: column;
    align-items: center;
    font-size: large;
    margin-top: 1%;
    margin-bottom: 2%;
}
h1, h2, h3 {
    color: white;
}
.header {
    text-align: left;
}
.center-content {
    text-align: left;
    z-index: 1;
    padding: 20px;
    background-color: #191816;
    width: 100%;
    max-width: 900px;
}
#particles-js {
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
}
a {
    color: #d8d9ec;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo {
    width: 150px;
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.button {
    border: 0.5px solid white;
    padding: 10px;
    background-color: #191919;
    color: white;
}
.button:hover {
    text-decoration: none;
    background-color:#1e1e1e;
}