<header>
    <img class="icon" alt="hyperdefined" width="120" height="120" data-proofer-ignore="true" src="{{ site.url }}/assets/images/canine.tools.logo.png"/>
    <h1>canine.tools</h1>
    <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
    <nav class="nav-menu">
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="{{ site.url }}/about">About</a></li>
            <li><a href="{{ site.url }}/services">Services</a></li>
            <li><a href="{{ site.url }}/news">News</a></li>
            <li><a href="{{ site.url }}/privacy">Privacy</a></li>
            <li><a href="{{ site.url }}/terms">Terms</a></li>
            <li><a href="{{ site.url }}/donate">Donate</a></li>
            <li><a href="{{ site.url }}/stats">Stats</a></li>
            <li><a href="https://status.canine.tools">Status</a></li>
        </ul>
    </nav>
</header>