{% extends "base.html" %}

{% block extrahead %}
<link rel="icon" type="image/png" href="https://canine.tools/assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="https://canine.tools/assets/images/favicon.svg" />
<link rel="shortcut icon" href="https://canine.tools/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="https://canine.tools/assets/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="canine.tools" />
<link rel="manifest" href="https://canine.tools/assets/images/site.webmanifest" />
<script defer data-domain="canine.tools" src="https://plausible.canine.tools/js/script.js"></script>
<meta property="og:image" content="https://canine.tools/assets/images/wolves/6.jpg">
<meta property="twitter:image" content="https://canine.tools/assets/images/wolves/6.jpg">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}