.center {
    text-align: center;
}
.random-photo {
    width: 80%;
}
.md-search {
    display: none;
}
.badges {
    text-align: center;
}
.badges img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}